cairocffi==0.6
cffi==1.1.2
coverage==3.7.1
cryptography==1.0
enum34==1.0.4
flake8==2.3.0
Flask==0.10.1
Flask-Script==2.0.5
gunicorn==19.4.5
idna==2.0
ipaddress==1.0.14
itsdangerous==0.24
Jinja2==2.8
kik==1.0.2
MarkupSafe==0.23
mccabe==0.3
mercurial==3.5.2
pep8==1.6.2
pyasn1==0.1.8
pycparser==2.14
pyflakes==0.9.0
pymongo==2.7.2
pyOpenSSL==0.15.1
redis==2.10.3
reedsolo==0.3
requests==2.9.1
six==1.10.0
spotipy==2.3.8
virtualenv==15.0.1
Werkzeug==0.11.5