<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<link rel="stylesheet" href="{{ url_for('static', filename='circle.player.css') }}">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.transform2d.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.grab.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='mod.csstransforms.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='circle.player.js') }}"></script>

<script type="text/javascript">
//<![CDATA[

$(document).ready(function(){

	/*
	 * Instance CirclePlayer inside jQuery doc ready
	 *
	 * CirclePlayer(jPlayerSelector, media, options)
	 *   jPlayerSelector: String - The css selector of the jPlayer div.
	 *   media: Object - The media object used in jPlayer("setMedia",media).
	 *   options: Object - The jPlayer options.
	 *
	 * Multiple instances must set the cssSelectorAncestor in the jPlayer options. Defaults to "#cp_container_1" in CirclePlayer.
	 *
	 * The CirclePlayer uses the default supplied:"m4a, oga" if not given, which is different from the jPlayer default of supplied:"mp3"
	 * Note that the {wmode:"window"} option is set to ensure playback in Firefox 3.6 with the Flash solution.
	 * However, the OGA format would be used in this case with the HTML solution.
	 */

	var myCirclePlayer = new CirclePlayer("#jquery_jplayer_1",
	{
		m4a: "{{preview_url}}",
		oga: "http://www.jplayer.org/audio/ogg/Miaow-07-Bubble.ogg"
	}, {
		cssSelectorAncestor: "#cp_container_1",
		wmode: "window",
		keyEnabled: true
	});
});
//]]>
</script>
</head>
<body>
	<div id="jquery_jplayer_1" class="cp-jplayer"></div>
	<div id="cp_container_1" class="cp-container">
		<div class="cp-buffer-holder">
			<div class="cp-buffer-1"></div>
			<div class="cp-buffer-2"></div>
		</div>
		<div class="cp-progress-holder">
			<div class="cp-progress-1"></div>
			<div class="cp-progress-2"></div>
		</div>
		<div class="cp-circle-control"></div>
		<ul class="cp-controls">
			<li><a class="cp-play" tabindex="1">play</a></li>
			<li><a class="cp-pause" style="display:none;" tabindex="1">pause</a></li>
		</ul>
	</div>
</body>

</html>
